# Archivos compilados
__pycache__/
*.pyc

# Archivos estáticos generados
/staticfiles/

# Entornos virtuales
venv/
.env

# Archivos de base de datos local
db.sqlite3

# Archivos del sistema
.DS_Store
*.log
