{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTime - Agenda tus citas medicas</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    {% include 'header.html' %}
    {% include 'section_hero.html' %}
    {% include 'section_proceso.html' %}
    {% include 'section_info.html' %}
    {% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    <script>
        {% for message in messages %}
        Swal.fire({
            title: '¡Éxito!',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
            window.location.href = "{% url 'base' %}";
            }
        });
        {% endfor %}
    </script>
    {% endif %}
</body>

</html>