{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cita Agendada</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Cita Médica Agendada</h1>
    </header>
    <main>
        <section>
            <h2>Información del Paciente</h2>
            <p><strong>Nombre:</strong> {{ cita.paciente.nombre }}</p>
            <p><strong>Apellido:</strong> {{ cita.paciente.apellido }}</p>
            <p><strong>RUT:</strong> {{ cita.paciente.rut }}</p>
        </section>
        <section>
            <h2>Detalles de la Cita</h2>
            <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
            <p><strong>Hora:</strong> {{ cita.hora }}</p>
            <p><strong>Especialidad:</strong> {{ cita.especialidad }}</p>
        </section>
    </main>

    
    <a href="{% url 'base' %}" class="btn-volver">Volver</a>
</body>
</html>
