{% load static %}

<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo-section">
      <img
        src="{% static 'img/icon.png' %}"
        alt="MedTime icon"
        class="footer-logo"
      />
      <h5 class="footer-title">MedTime</h5>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h1 class="footer-column-title">Menú rápido</h1>
        <a href="{% url 'base' %}">Inicio</a>
        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a href="{% url 'signup' %}">Registro</a>
      </div>
      <div class="footer-column">
        <h1 class="footer-column-title">Sobre nosotros</h1>
        <a href="#hero">Agenda</a>
        <a href="#proceso">Pasos</a>
        <a href="#info">Información</a>
      </div>
      <div class="footer-column">
        <h1 class="footer-column-title">Contacto</h1>
        <p>123, Región Metropolitana, La Reina</p>
        <p>+569 12345678</p>
        <p>contact@medtime.com</p>
      </div>
    </div>
  </div>

  <div class="footer-divider"></div>

  <div class="footer-bottom">
    <p class="footer-copy">© 2025 MedTime.</p>
  </div>
</footer>

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
