{% load static %}

<header class="nav-bar">
    <div class="nav-icon nav-span">
        <a href="">
            <img src="" alt="">
            <span>MedTime</span>
        </a>
    </div>

    <ul class="nav-links">
        <li><a href="">Home</a></li>
        <li><a href="">Inicia sesion</a></li>
        <li><a href="">Registrate</a></li>
        <li class="nav-btn"> <a href="">Agenda tu cita medica</a></li>
    </ul>
</header>

<section>
    <img class="bg-section" src="{% static 'img/background.png' %}" alt="">
</section>


<link rel="stylesheet" href="{% static 'css/header.css' %}">