{% load static %}

<header class="nav-bar">
  <div class="nav-left" >
    <a href="">
      <img src="{% static 'img/icon.png' %}" alt="MedTime icon" class="nav-icon" />
      <span class="nav-span">MedTime</span>
    </a>
  </div>

  <ul class="nav-links">
    <li><a href="">Home</a></li>
    <li><a href="">Inicia sesion</a></li>
    <li><a href="">Registrate</a></li>
    <a href="" class="nav-btn">Agenda tu cita medica</a>
  </ul>
</header>

<link rel="stylesheet" href="{% static 'css/header.css' %}" />
