{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="left-half">
      <img src="{% static 'img/login.jpg' %}" class="background" />
    </div>
    <div class="right-half">
      <div class="login-container">
        <h2>Inicio de Sesión</h2>

        {% comment %} bloque de mensaje {% endcomment %}
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="rut">RUT</label>
            <input type="text" id="rut" name="rut" required />
            {% if form.rut.errors %}
            <div class="error">
              {% for error in form.rut.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required />
            {% if form.password.errors %}
            <div class="error">
              {% for error in form.password.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="contenedor-botones">
            <div class="btn-login-cont">
              <button type="submit" class="btn-login">Iniciar sesión</button>
            </div>

            <div class="btn-volver-cont">
              <a href="{% url 'base' %}" class="btn-volver">Volver</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
