<h1>Bienvenido {{ user.username }}!</h1>
<p>Aqui podrás gestionar tus citas medicas</p>

<div class="btn-olvidar-cont">
  <a href="{% url 'cambiar_contraseña' %}" class="btn-olvidar"
    >Cambiar contraseña</a
  >
</div>

{% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="logout-button">Cerrar sesión</button>
</form>

<form action="{% url 'enviar_correo' %}" method="get">
  <button type="submit" class="btn-enviar-correo">Enviar correo</button>
</form>
{% endif %}
