{% load static %}

<section class="size container" id="proceso">
  <h2 class="titulo">¿Cómo funciona?</h2>
  <p class="subtitulo">Fácil y accesible como siempre debió ser</p>

  <div class="pasos">
    <div class="paso">
      <img src="{% static 'img/agenda.jpg' %}" alt="Agendar" class="icono" />
      <h3>Agenda en segundos</h3>
      <p>Selecciona el especialista, el día y la hora que más te acomode.</p>
    </div>

    <div class="paso">
      <img src="{% static 'img/atencion.jpg' %}" alt="Atención" class="icono" />
      <h3>Consulta desde cualquier lugar</h3>
      <p>
        Conéctate desde tu celular, tablet o computador con acceso a internet.
      </p>
    </div>

    <div class="paso">
      <img
        src="{% static 'img/resultados.jpg' %}"
        alt="Resultados"
        class="icono"
      />
      <h3>Revisa tus citas agendadas</h3>
      <p>
        Accede a tu historial de citas médicas en cualquier momento desde tu
        perfil.
      </p>
    </div>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/section_proceso.css' %}" />
