{% load static %}

<section class="section-info">
  <div class="content-info">
    <div class="text-info">
      <h1 class="title-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h1>
      <p class="description-info">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        necessitatibus nemo labore ut, fugit, consequatur animi suscipit
        dolorem consectetur, ipsa quis neque ullam veniam! Recusandae
        aliquam commodi quod praesentium quis!
      </p>
      <div class="button-container">
        <button class="button-info">
          Contact us
        </button>
      </div>
    </div>

    <div class="image-info">
    <img
        src="{% static 'img/info.jpg' %}"
        alt="Image"
        class="image"
      />
      </div>

    </div>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/section_info.css' %}" />
