{% load static %}

<section class="hero" id="hero">
  <img src="{% static 'img/background.png' %}" class="background" />
  <div class="bg-content">
    <h1 class="bg-text">
      Tu salud, nuestra prioridad: agenda médica confiable
    </h1>
    <div class="botones">
      {% if user.is_authenticated %}
        <a href="{% url 'agendar_cita' %}" class="hero-btn">Agenda tu cita médica aquí</a>
      {% else %}
        <a href="{% url 'login' %}" class="hero-btn">Comienza</a>
      {% endif %}
      <a href="{% url 'cita_estado' %}" class="hero-btn">Revisa el estado de tu cita</a>
    </div>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/section_hero.css' %}" />
