{% load static %}

<section class="section-info" id="info">
  <div class="content-info">
    <div class="text-info">
      <h1 class="title-info">
        Tu salud es nuestra prioridad
      </h1>
      <p class="description-info">
        Estamos aquí para ayudarte a agendar tus citas médicas de forma rápida, segura y desde cualquier lugar. Confía en nosotros para recibir la atención que necesitas, cuando la necesites.
      </p>
      <div class="button-container">
        <button class="button-info">
          Contáctanos
        </button>
      </div>
    </div>

    <div class="image-info">
      <img
        src="{% static 'img/info.jpg' %}"
        alt="Atención médica"
        class="image"
      />
    </div>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/section_info.css' %}" />
