/* Nav principal */
.nav-bar {
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #2CCF9B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Contenedor del logo y nombre */

.nav-left-cont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.nav-span {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

/* Estilo para los enlaces de navegación */
.nav-links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-bar ul {
    list-style: none;
}

.nav-btn {
    background: #0091AD;
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.nav-btn:hover {
    background: white;
    color: #0091AD;
    border: solid 2px #0091AD;
}

.nav-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    position: relative;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all .3s;
}

.nav-links li a:hover:before {
    width: 100%;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    font-size: 1rem;
}

.logout-button::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
}

.logout-button:hover::before {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;  /* Ocultar los enlaces en móviles */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #2CCF9B;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;  /* Mostrar los enlaces cuando se activa */
    }

    /* Estilo para el ícono de hamburguesa */
    .hamburger {
        display: block;  /* Mostrar el ícono de hamburguesa en móviles */
        cursor: pointer;
    }

    .hamburger .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px auto;
        background-color: white;
        transition: all 0.3s;
    }
}
