/* Nav principal */
.nav-bar {
    top: 0;
    position: sticky;
    width: 100%;
    height: auto;
    background-color: #2CCF9B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* nav derecho */
.nav-links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-bar ul {
    list-style: none;
}

.nav-btn {
    background: #0091AD;
    padding: 8px 16px;
    border-radius: 16px;
    transition: transform 200ms ease;
}

.nav-btn:hover {
    transform: scale(1.05);
}

.nav-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    position: relative;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all .3s;
}

.nav-links li a:hover:before {
    width: 100%;
}

/* Nav izquierdo */
.nav-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.nav-span {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.nav-icon {
  width: 50px;
  height: auto;
  cursor: pointer;
}

