body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.left-half {
  background-color: #0091ad;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-half {
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container {
  background-color: #0091ad;
  color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  font-size: small;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-container h2 {
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-login {
  width: fit-content;
  background-color: #006b80;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 32px;
  margin-top: 16px;
}

.btn-login:hover {
  background-color: #2CCF9B;
}

.background {
  width: 100%;
  max-width: 500px;
}

.messages {
  margin-top: 20px;
  margin-bottom: 20px;
}

.messages .alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-error {
  margin-top: 12px;
  background-color: rgba(255, 0, 0, 0.714);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}

.error {
  color: black;
  font-size: 12px;
}

.alert-error p {
  margin: 0;
}

.btn-volver {
  width: fit-content;
  background-color: #006b80;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 32px;
  margin-top: 16px;
  text-decoration: none;
  display: inline-block;
}

.btn-login:hover,
.btn-volver:hover {
  background-color: #2CCF9B;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:6px;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .left-half,
  .right-half {
    width: 100%;
  }

  .left-half {
    display: none;
  }

  .login-container {
    padding: 30px 20px;
    margin-top: 40px;
  }

  .contenedor-botones {
    flex-direction: column;
    gap: 16px;
  }

  .btn-volver, .btn-login {
    width: fit-content;
    text-align: center;
  }
}