body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0091ad;
    color: white;
    text-align: center;
    padding: 30px 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

main {

    padding: 20px;
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 30px;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

strong {
    font-weight: bold;
}

.btn-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.btn-olvidar-cont,
.btn-volver {
    flex: 1;
}

.btn-olvidar {
    background-color: #006b80;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    text-align: center;
}

.btn-olvidar:hover {
    background-color: #2CCF9B;
}

.btn-volver {
    background-color: #006b80;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    text-align: center;
}

.btn-volver:hover {
    background-color: #2CCF9B;
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.reenviar-btn,
.logout-button {
    background-color: #2CCF9B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    display: block;
}

.reenviar-btn:hover,
.logout-button:hover {
    background-color: #0091ad;
}

.logout-button {
    background-color: #f44336;
}

.logout-button:hover {
    background-color: #d32f2f;
}
